**~
**/*.so
.config/
*cache/
**/.ipython/
**/.ipynb_checkpoints/
**.cache/
**.pyc
**__pycache__
MANIFEST
*.egg-info
dist/
build/
doc/
deploy/
examples/*.png
cython_debug/
.coverage
htmlcov/
pykinsol/_kinsol_numpy.cpp
tmp/
